@font-face{
  font-family: 'helv';
  src: url('./fonts/Helvetica.ttf');
  font-display: swap;
}
@font-face{
  font-family: 'light';
  src: url('./fonts/HelveticaNeue-Light.ttf');
  font-display: swap;
}
@font-face{
  font-family: 'med';
  src: url('./fonts/Roboto-Medium.ttf');
  font-display: swap;
}
@font-face{
  font-family: 'regular';
  src: url('./fonts/Roboto-Regular.ttf');
  font-display: swap;
}
body {
  font-size: 1rem;
  background-color: #fbfbfb;
  font-family: 'helv';
}
a, a:hover{
	text-decoration: none;
	color: #fff;
}
.navi{
	background-color: transparent !important;
	border: none;
	padding: 1em;
}
.navi .navbar-toggle .icon-bar{
	background-color: white;
}
.navi .navi-list .nav-item .nav-link{
	color: #000000;
	font-size: 1rem;	
  font-family: 'helv';
  margin-right: 1em;
}
.navi .navbar-brand img{
	width: 7em;
	margin-top: -0.7em;
}
.navi.scrolled {
  background-color: #fff !important;
  transition: 0.3s;
}
.navbar-fixed-top.scrolled .nav-link {
  color:black;
}
.navi .navbar-nav.active>a{
	background-color: transparent;
	color: #c19d5d;
 }
.navi .navi-list .active>.nav-link, .navi .navi-list .nav-link.active,
.navi .navi-list .nav-link.show, .navi .navi-list .show>.nav-link, 
.navi .navi-list .nav-item a:hover{
    background-color: transparent;
    color: #c19d5d;
}
.navi .navbar-toggler{
  background-color: #c19d5d;
}
.navi .nav-item .sign-up-btn{
  background-color: #c19d5d;
  border: none;
  color: white;
  margin-top: -0.7em;
  box-shadow: 0px 2px 8px 0px #cccccc;
}
.navi .nav-item .sign-up-btn a, .navi .nav-item .sign-up-btn a:hover{
  color: white;
  font-size: 0.93em;
}
.header-image{
  width: 100%;
  height: 105vh;
  object-fit: cover;
  position: relative;
}
.mob-header-image{
  display: none;
}
.image-info{
  position: absolute;
  top: 30%;
  left: 15%;
}
.image-line{
  color: black;
  font-size: 0.7em;
}
.image-line small, .image-line-2 small, .image-line-3 small i
{
  color: #c19d5d;
  font-size: 1em;
}
.image-line-2{
  color: black;
  font-size: 1.5em;
}
.image-line-3{
  color: #616161;
  font-size: 0.7em;
}
.about-section{
  background-color: #fbfbfb;
  padding: 1em 0em;
}
.story-section{
  padding-top: 3em;
}
.section-title{
  color: #c19d5d;
  font-size: 1.5em;
}
.section-text{
  color: #616161;
  font-size: 1.2rem;
}
.graph-section{
  padding: 4em 0em;
}
.side-image{
  width: 100%;
}
.side-title{
  text-transform: uppercase;
  color: black;
  font-size: 0.7em;
}
.side-subtitle{
  color: #c19d5d;
  font-size: 1.2em;
}
.side-text{
  color: #616161;
  font-size: 0.7em;
}
.side-list{
  list-style: none; 
  color: #616161;
  font-size: 0.7em;
}
.side-list li::before {
  content: "\2022"; 
  color: #c19d5d; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}
.gallery-section{
  background-color: #fbfbfb;
  padding: 2em 0em;
}
.main {
  max-width: 800px;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 1rem;
}
.main img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.item-a{
  grid-row: 1 / 2;
}
.item-b{
  grid-column: 2/4;
}
.item-c{
  grid-column: 2;
}
.item-f{
  grid-row: 2/4;
}
.item-d{
  grid-column: 3;
}
.item-e{
  grid-row: 2;
  grid-column: 2;
}
.item-h{
  grid-row: 2;
  grid-column: 3;
}
.main2{
  /*margin: 0 auto;*/
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 1rem;
}
.main2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.item-5{
  grid-row: 1/3;
}
.item-6{
  grid-column: 2/3;
}
.item-7{
  grid-row: 2;
  grid-column: 2;
}
.item-8{
  grid-row: 1/3;
  grid-column: 3;
}
.testimonial-section{
  padding: 3em 0em;
}
.card{
  margin: 1em;
}
.card-image{
  width: 4em;
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: 4px solid white;
}
.testimonial-card{
  background-image: url(./images/side-image1.jpg);
  background-size: cover;
  padding: 1em 2em 1em 3em;
  position: relative;
  box-shadow: 3px 3px 10px 10px #f5f0e6;
  border-radius: 15px;
}
.card-title{
  color: black;
  font-size: 1rem; 
}
.card-info{
  color: #616161;
  font-size: 1rem;
}
.email-form{
  box-shadow: -4px 1px 10px 2px #cccccc;
}
.email-form .form-control:focus{
  border-color: #c19d5d;
  box-shadow: none;
}
.email-form .form-control::placeholder{
  color: #c4c4c4;
  font-family: 'light';
}
.email-form .form-control{
  font-family: 'light';
}
.mail-box{
  background-color: #c19d5d;
}
.mail-box i{
  color: white;
}
.fahdy-footer{
  background-color: #575757;
  padding: 3em 0em;
  font-family: 'helv';
  color: white;
  font-size: 1rem;
}
.footer-title{
  color: white;
}
.social-media{
  width: 1.5rem;
  margin-right:0.5rem;
}
.footer-info{
  font-size: 0.9rem;
  color: #c4c4c4;
  line-height: 1;
}
.form-section{
  padding: 6em 0em;
}
.booking-form{
  color: #c4c4c4;
  font-family: 'light';
  font-size: 1rem;
}
.booking-form label{
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #575757;
}
.booking-form .form-control::placeholder{
  color: #c4c4c4;
}
.booking-form .form-control:focus{
  box-shadow: none;
  border-color: #c19d5d;
}
.submit-btn{
  background-color: #c19d5d; 
  color: white;
  font-family: 'light';
  border:none;
  border-radius: 5px;
  padding: 0.5em 2em;
}
.form-notice{
  color: #c19d5d;
}
.image-section{
  padding: 7em 0em;
}
.notice-msg{
  font-size: 1.5rem;
}
.notice-msg a{
  color: #c19d5d;
}
.page-section{
  padding: 6em 0em;
}
.page-title{
  color: #8f7648;
  font-size: 2.5rem;
}
.appCard{
  width: 18rem;
}
.cardText{
margin-top: 1rem;}
.page-text{
  color: #c19d5d;
  font-size: 2.5rem;
}
.quizName{
  font-family: 'helv';
  font-size:2rem;
  font-weight:bold;
  text-align:center;
  margin-bottom:5em;
  color: #C19D5D
}
.complete{
  display:flex;
  flex-direction:row;
  margin-bottom:1rem;
  flex-wrap:wrap;
}
.completeText{
  font-family: 'helv';
    font-size:1rem;

}
.completeCard{
  margin-left:1em;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
}
.completeInput{
  border-color:#c3a061;
  border:0;
  border-bottom: 0.1rem dotted;
  margin-left:1rem;
  margin-top:0px;
}
.rewriteBtn{
  background-color: #c19d5d;
  margin-left:2em;
  border-radius:15px;
  cursor:pointer;
  justify-content:center;
  align-items:center;
  margin-bottom:1rem;
  padding: 0.4rem 0.8rem

}
.rewriteBtnDisabled{
  background-color: #ebe0cc;
  margin-left:2em;
  border-radius:15px;
  cursor:pointer;
  justify-content:center;
  align-items:center;
  margin-bottom:1rem;
  padding: 0.4rem 0.8rem
}
.rewriteContainer{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  padding: 1rem
}
.rewriteContainer2{
  /* display:flex;
  flex-direction:row;
  flex-wrap:wrap; */
  align-items:center;
  justify-content:center;
}
.rewriteLine{
  margin-top:2px;
}
.rewriteText{
  flex-wrap:wrap;
  font-family: 'helv';
  font-size:1.2rem;
  color:white;
  margin-bottom: 0;

}
.qaText{
  flex-wrap:wrap;
  font-family: 'helv';
  font-size:1rem;
  color:black;
  margin-bottom: 0;
  margin-top: 3rem;

}
.qaText2{
  flex-wrap:wrap;
  font-family: 'helv';
  font-size:1rem;
  color:black;
  margin-bottom: 0;
  /* margin-top: 3rem; */

}
.rewriteText2{
  flex-wrap:wrap;
  font-family: 'helv';
    font-size:1.2rem;
  padding:0.3rem 0.6rem;
  color:black
}

.matchingMainContainer{
  margin-top: 5rem;
}
.matchingContainer{

  margin-top:1em;
  display: flex;
  flex-direction: row;

}
.matchingBtn{
  /* border:black 1px solid;
  border-radius:10px; */
  align-items:center;
  justify-content:center;
  padding:0!important;
  overflow:hidden;
  /* cursor:pointer; */
}
.matchingText{
  flex:1;
  flex-wrap:wrap;
  margin:0 !important;
  text-align: start;
  margin-top:auto;
  margin-bottom:auto;
  
}
.matchingText2{
  flex-wrap:wrap;
  color:dimgray;
  
}
.question{
  font-family: 'helv';
  font-size:2rem;

}
.title{
  font-family: 'helv';
  font-size:1.5rem;
  color:#c19d5d
}
.title2{
  font-family: 'helv';
  font-size:1.2rem;
  color:black;
  text-align: justify;
  white-space: pre-wrap;
}
.or{
  text-align: center;
  font-family: 'helv';
  font-size:1.5rem;
  color:#c19d5d;
  margin: 0;
  margin-left: 1rem;

}
.att-container{
  text-align:center ;
  padding:0
}
.video-container{
  text-align:center;
}
.quiz-image{
  width: 35%;
  height: 20%;
}
.audio{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  left: 0px;
  border-radius: 0px;
}
.previousQuestion{
  cursor:pointer;
  background-color: #c19d5d;
  justify-content:center;
  align-items:center;
  border-radius:10px;
  padding:0 !important;
  padding-top:0.4rem;
  padding-bottom:0.4rem;
  padding-right:1rem;
  padding-left:1rem;
  margin-left: 1rem;
  width:6em
   }
.nextQuestion{
    cursor:pointer;
    background-color: #c19d5d;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    padding:0 !important;
    padding-top:0.4rem;
    padding-bottom:0.4rem;
    padding-right:1rem;
    padding-left:1rem;
    margin-right: 1rem;
    margin-left:auto;
    width:6em
     }
.nextQuestion2{
  cursor:pointer;
  background-color: #c19d5d;
  justify-content:center;
  align-items:center;
  border-radius:10px;
  padding:0 !important;
  padding-top:0.4rem;
  padding-bottom:0.4rem;
  padding-right:1rem;
  padding-left:1rem;
  bottom: 5px;
  position: absolute;
  right: 3px;
  width:6em
}
.btnText{
  font-family: 'helv';
    font-size:1rem;
  color:white;
  text-align:center;
  margin:0
}
.btnText2{
  font-family: 'helv';
    font-size:1.2rem;
    font-weight: bold;
  color:white;
  text-align:center;
  margin:0
}
.qaInput{
    margin-left:1rem;
    border-radius:10px;
    border-width:0.01em;
    border-color: silver;
    width: 80%;
    height: 3rem;
    margin-top: 1rem;
    padding-left: 0.5rem;
}
.qaInput2{
  margin-left:1rem;
  border-radius:10px;
  border-width:0.01em;
  border-color: silver;
  width: 80%;
  height: 3rem;
  padding-left: 0.5rem;
}
.mcq{
  margin-top:2rem;
}
.mcqOption{
  z-index:1
}
.mcqOptionText{
  font-family: 'helv';
    font-size:1.2rem;
  color:grey;
}
.mcqOptionTrueText{
  font-family: 'helv';
  font-size:1.2rem;
  color:#c19d5d !important;
}
.mcqQuestion{
  font-family: 'helv';
  font-size:1.2rem;
  line-height: 1.5;
}
.mmBtn{
  margin-left:2em;
  border-radius:15px;
  cursor:pointer;
  justify-content:center;
  align-items:center;
  margin-bottom:1rem;
  padding:0.5rem 1.8rem;
  background-color: #c19d5d;
}
.mmBtnDisabled{
  margin-left:2em;
  border-radius:15px;
  cursor:pointer;
  justify-content:center;
  align-items:center;
  margin-bottom:1rem;
  padding:0.5rem 1.8rem;
  background-color: #ebe0cc;
}
.mmTabText{
  font-family: 'helv';
  font-size:1.2rem;
  margin:0;
  color: white;
}
.mmContainer{
  display:flex;
  flex-direction:row;
  border-color:grey;
  border:silver 1px solid;
  border-radius:15px
}
.mmLeft{
  flex:8;
  padding:1rem;
  align-items:center;
}
.mmCenter{
  flex:1,
}
.verticalLine{
  height:100%;
  width:1px;
  background-color:silver;
  margin-left:auto;
  margin-right:auto;
}
.mmRight{
  flex:8;
  padding:1rem;
  align-items:center;
  position: relative;
}
.mmRight2{
  flex:8;
  align-items:center;
  overflow: hidden;
}
.mmSelect{
  margin-top: 3rem;
}
.matchingOptions{
  /* margin-bottom:1rem; */
  width: 13rem;
}
.mmText{
  font-family: 'helv';
    font-size:1.2rem;
    margin-top: 2rem;
    margin-left: 5%;
    width: 90%;
    text-align: justify;
    align-self: center;
}
.quizContainer{
  /* background-color: red; */
  width: 90%;
  overflow: hidden;
}
.summaryInput{
  width: 100%;
  height: 55%;
  border-width: 0px;
}
.summaryInput2{
  width: 100%;
  border-width: 0px;
}
.textInput{
  width: 100%;
  height: 100%;
  border-width: 1px;
}
.pag{
  cursor: pointer;
}
.inputFile{
  margin-left: 5rem;
}
.timer{
  /* width: 10rem; */
  float: right;
  margin-right: 2rem;
  /* border: 1px solid black; */
}
.timerTxt{
  text-align: center;
  border: 1px solid black ;
  padding: 0.5em 0.5em
}
.icon-container{
  cursor: pointer;
  background-color: #c19d5d;
  /* padding: 1rem; */
  width: 10rem;
  height: 2rem;
  border-radius: 1rem;
  margin-left: 1rem;
  vertical-align: middle;
  text-align: center;
  margin-top:1rem;
  display: flex;
  flex-direction: row;
}
.selected-icon-container{
  cursor: pointer;
  background-color: #ebe0cc;
  /* padding: 1rem; */
  width: 10rem;
  height: 2rem;
  border-radius: 1rem;
  margin-left: 1rem;
  vertical-align: middle;
  text-align: center;
  margin-top:1rem;
  display: flex;
  flex-direction: row;
}
.grade-container{
  background-color: #c19d5d;
  border-radius: 1rem;
  margin-left: 1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  width: 5rem;
  height: 2.5rem;
  /* padding-right: 2rem;
  padding-left: 2rem; */
  vertical-align: middle;
  text-align: center;
}
.sub1{
  flex:1;
  align-items: center;
}
.sub2{
  flex:1;
}
.grade{
  font-family: 'helv';
    font-size:1.2rem;
    color: white;
    font-weight: bold;
    margin:0!important;

}
.grade-field{
  font-family: 'helv';
  font-size:1.5rem;
  color: black;
  margin-bottom:0 !important;
}
.whyText{
  font-family: 'helv';
  font-size:1.2rem;
  color:#c19d5d;
  font-weight: bold;
}
.why-icon{
  display: inline-block;
  vertical-align: middle;
  /* margin-top: 0.1rem; */
  margin-left: 0.1rem;
}
.ntrow{
  align-items: center;
  margin-top:1rem;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #c19d5d; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-top: 20rem;
  margin-bottom: 20rem;
  margin-left: auto;
  margin-right: auto;
}
.reviewImage{
  width: 600px;
  height: 400px;
  object-fit: contain;
}
.streamingsContainer{
  /* grid-template-columns: auto;
  grid-template-rows: auto; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  grid-gap: 3rem;
  margin-bottom:3rem;

}
.streamingCard{
  /* background-color: silver; */
  border:#c19d5d 1px solid;
  border-radius: 15px;
  height: 15rem;
  width: 100%;
  align-self: center;
  align-items: center;

  /* width: 10rem; */
}
.FeedbackContainer{
  margin-top: 2rem;
  
}
.feedback{
  margin-left: 1rem;
  font-family: 'helv';
  font-size:1.5rem;
  color: black;
}
.videosContainer{
  /* grid-template-columns: auto;
  grid-template-rows: auto; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  grid-gap: 1 rem;
  margin-bottom:3rem;

}
.questionImage{
  width: 20rem;
}
input[type='file'] {
  color: transparent;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media only screen and (min-device-width : 320px)
and (max-device-width: 767px) {
  .header-image{
    display: none;
  }
  .mob-header-image{
    display: block;
    height: 100vh;
    width: 100%;
  }
  .image-info{
    top: 20%;
  }
  .navi .nav-item .sign-up-btn{
    margin-top: 0.5em;
  }
  .navi{
    background-color: white !important;
  }
  .mmContainer{
    display:flex;
    flex-direction:column;
    border-color:grey;
    border:silver 0px solid;
    border-radius:15px;
  }
  .completeInput{
    margin-bottom: 1rem;
  }
}
